.*
__pycache__/
result/
result-setorder/
pretrained/
analysis/
Analysis/
Analysis-setorder/
clip_concepts_saved/
*.ipynb
!result/CAV_m2CBM_sigmoid_C0.1CrossEntropy_32_report_strict_add_aow_zero_MM_max/fold_0_report_strict_r1.0_c1.0/
!result/Efficientb0_SCLS_attnscls_CrossEntropy_32/fold_0/epoch_stopper/checkpoint_180.pth